

    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">3</span></a>
    </li>
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li>
    
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item px-3">
            <a>@Html.ViewContext.HttpContext.User.Identity.Name</a>
        </li>
        <li class="nav-item px-3" style="margin-right: 15px !important;">
            <a asp-area="" asp-controller="Autenticacion" asp-action="LogOut">Cerrar Sesión</a>
        </li>
    </ul>

